.slider {
  position: relative;
  width: 100%;
  height: 500px;
  /* overflow: hidden; */
}

.slider-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation-name: slide-animation;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

.slider img.active {
  opacity: 1;
}

@keyframes slide-animation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
