.product-card-slider {
  position: relative;
}

.slider-product {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 20px;
}

.slide {
  display: inline-block;
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}
.slide-product.active {
  opacity: 1;
}

.slide-product img {
  max-width: 200px;
  max-height: 250px;
  min-width: 200px;
  min-height: 250px;
}

.product-details {
  text-align: center;
}

.product-details h3 {
  margin: 10px 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.product-details p {
  margin: 0;
}

.product-details span {
  display: block;
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #FF5722;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  font-size: 2rem;
  color: #FF5722;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}