.card-body {
  background: rgb(221, 206, 206);
  width: 100%s;
  padding-top: 10px;
  border-radius: 2px;
}

.card-right-body {
  display: flex;
  float: left;
  width: 25%;
  padding: 0 10px;

}
.card-right-body:after {
  content: "";
  display: table;
  clear: both;
}

.card-body {

  display: flex;
}

.card-left-body {
  width: 15%;
  height: auto;
  margin: 25px;
  text-align: center;
  text-decoration: none;
}

.card-left-body h1 {
  text-align: center;
  font-size: medium;
  position: relative;
}

.btn-mca {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;

}

.btn-mca:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(224, 24, 24, 0.2);
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}